<%- include ('partials/header') %> 

<h1>Log in</h1>
<form>
    <label for="email">Email</label>
    <input name="email" type="text" required/>
    <label for="password">Password</label>
    <input name="password" type="password" required/>
    <button>Log In</button>
</form>


<%- include ('partials/footer') %> 
